.error {
  border: 1px solid red;
}

.login-error {
  font-size: .8em;
  color: red;
}

.signup {
  display: flex;
  flex-direction: column;
}

.signup-prompt {
  align-self: center;
  padding: 0.5em;
  color: #ffffff;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  width: 250px;
}

.signup-btn {
  border: none;
  border-style: none;
}

.signup-btn:hover {
  background: #000000;
  color: #e3be42;
  border: none;
}