.MovieContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-x: auto;
  overflow-y: hidden;
  background: linear-gradient(rgba(15,15,15,0.9), #337E7B);
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}