@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

.MovieCard {
  margin: 50px;
  border: 1px solid black;
  min-width: 500px;
  background-color: rgba(255, 0, 0, 0.3)
}

.movie-title {
  margin: 10px auto;
  max-width: 400px;
  font-family: 'Fugaz One', cursive;
  text-align: center;

}

.favorite-btn {
  background: none;
  border: 1px solid yellow;
  color: yellow;
}

.favorited {
  background: magenta;
}