@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

.MovieCard {
  margin: 20px;
  border: 1px solid black;
  width: 200px;
  height: 300px;
  background-color: rgba(255, 0, 0, 0.3);

  -webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.MovieCard:hover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.MovieCard-front,
.MovieCard-back {
  -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
}

.MovieCard-front {
  z-index: 2;
}

.MovieCard-back {
  -webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

img {
  height: 300px;
  width: 200px;
}

.MovieCard button {
  position: absolute;
}

.favorite-btn {
  background: none;
  border: 1px solid yellow;
  color: yellow;
}

.favorited {
  background: magenta;
}