@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.MovieCard {
  margin: 20px;
  width: 250px;
  height: 360px;
  background-color: #000000;
  overflow-y: auto;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.MovieCard-flipper {
  -webkit-transition: 0.25s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.25s;
	-moz-transform-style: preserve-3d;
  -o-transition: 0.25;
	-o-transform-style: preserve-3d;
	transition: 0.25s;
  transform-style: preserve-3d;
  position: relative;
}

.MovieCard-flipper:hover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.MovieCard-front,
.MovieCard-back {
  -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.MovieCard-front {
  z-index: 1;
}

.movie-overview {
  margin: 5px;
}

.MovieCard-back {
  -webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 1em 0.25em;
}

img {
  height: 360px;
  width: 250px;
}

.favorite-btn {
  background: #000000;
  display: flex;
  align-self: center;
  border: none;
  opacity: 0.25;
  color: #ffffff;
  padding: 0.75em 1em;
}

.favorite-btn:hover {
  color: #e3be42;
  opacity: 0.75;
}

.favorited {
  opacity: 1;
  color: #e3be42;
}