.error {
  border: 1px solid red;
}

.login-error {
  margin: 0 auto;
}

.Login {
  background: linear-gradient(#336E7B, #000000);
  min-height: 100vh;
  padding: 3em 0;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.login-prompt {
  align-self: center;
  padding: 0.5em;
  color: #ffffff;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  justify-content: space-around;
  width: 30%;
  padding-bottom: 2em;
}

.login-btn {
  border: none;
  border-style: none;
}

.login-btn:hover {
  background: #000000;
  color: #e3be42;
  border: none;
}

input {
  box-sizing: border-box;
  min-width: 50px;
  max-width: 200px;
  margin: 10px;
}

button {
  box-sizing: border-box;
  height: 20px;
  padding:0;
  margin:10px;
  min-width: 50px;
  max-width: 200px;
}